{% include "header.html" %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Deepraj Mazumder</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/deep.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Deepraj
                        <span class="text-primary">Mazumder</span>
                    </h1>
                    <div class="subheading mb-5">
                        Dimahasao, Assam, India · 9957636762 ·
                        <a href="mailto:deeprajmazumder11@gmail.com">deeprajmazumder11@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am experienced in Deeplearning and have worked on various models. Along with
                    that, I have firm grip on Python programming and Web-Development using MERN stack.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer</h3>
                            <div class="subheading mb-3">Personal Projects</div>
                            <p>
                                Created projects from scratch on websites for portfolio, Movie rankings, Blog sites and many
                                more similar projects with great responses from unbiased viewers.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2019 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Python Developer</h3>
                            <div class="subheading mb-3">Personal Projects</div>
                            <p>
                                From GUI to games to web apps and Data visualization, there are multiple projects that
                                were done by me.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2020 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Deep Learning</h3>
                            <div class="subheading mb-3">Personal Projects</div>
                            <p>
                                This is something that interests me a lot. Worked on multiple models that were really
                                thoughtful and sharpens our skills in deep learning
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2021 - Present</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Panjab University</h3>
                            <div class="subheading mb-3">Bachelor of Engineering</div>
                            <div>Mechanical Engineering</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2019 - present</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design, Understanding Data
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Creating a secure back-end, Creating a Good Model
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Sharing for testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Modifying and deploying
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a AI enthusiast, web developer, python developer, etc, I enjoy my free time
                        being a part of nature. I am also interested in Football and rugby. When stuffed with free time,
                        I love learning life saving skills in the wild.
                    </p>
                    <p class="mb-0">
                        Indoors I like to play video games and watch comedy shows but most of the time I spend watching
                        videos about space, history and mathematics. Apart from that, I love to read books on the advancement
                        of technology and various aspects of Human existence.
                    </p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Udemy certified web-developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Certified Python developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Certified Deep learner.
                        </li>
                    </ul>
                </div>
            </section>
        </div>

{% include "footer.html" %}
